/*************animations********/
.defaultPosition {
    transform: translateX(0) translateY(0) translateZ(0) !important;
    opacity: 1 !important;
    scale: 1 !important;
}

.defaultWidth {
    width: 100% !important;
}
