/*********contact-banner*******/

.subpage-contact {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('/assests/images/menu-page/menu-img1.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subpage-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.subpage-contact .main-text {
    position: relative;
    font-family: var(--std-font-family);
    background: linear-gradient(90deg, #A57A2C, #D4A94B, #FCEC94, #E4BE69, #FFD77D, #B6903F, #956E2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: auto;
    top: 50px;
}

/***responsive***/
/************extra-large screens************/
@media (min-width:1700px) and (max-width:2600px) {
    .subpage-contact .main-text {
        font-size: 70px;
    }
}

/***************larger screens*************/
@media screen and (max-width: 1400px) {
    .subpage-contact .main-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .subpage-contact .main-text {
        font-size: 30px;
    }
}

/*********contact-details-banner******/
.contact-address-container {
    display: flex;
    gap: 30px;
    padding: 20px;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #101517;
}

.contact-address-container .box {
    background-color: #101517;
    border: 2px solid #c49b36;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    height: 200px;
}

.contact-address-container .heading {
    background: linear-gradient(90deg, #A57A2C, #D4A94B, #FCEC94, #E4BE69, #FFD77D, #B6903F, #956E2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;
}

.contact-address-container .sub-heading {
    font-size: 18px;
    margin: 5px 0;
    color: white;
}

i {
    margin-right: 8px;
    color: white;
}

/*********responsive**************/
/************extra-large screens************/
@media (min-width:1700px) and (max-width:2600px) {
    .contact-address-container .heading {
        font-size: 40px;
    }

    .contact-address-container .sub-heading {
        font-size: 20px;
    }
}

/***************larger screens*************/
@media screen and (max-width: 1400px) {
    .contact-address-container .heading {
        font-size: 25px;
    }

    .contact-address-container .sub-heading {
        font-size: 16px;
    }
}

/********tablets********/
@media screen and (max-width: 800px) {
    .contact-address-container .heading {
        font-size: 20px;
    }

    .contact-address-container .sub-heading {
        font-size: 14px;
    }
}

/***************mobile screens**********/
@media screen and (max-width: 600px) {
    .contact-address-container {
        flex-direction: column;
    }

    .contact-address-container .heading {
        font-size: 20px;
    }

    .contact-address-container .sub-heading {
        font-size: 14px;
    }

    .contact-address-container .box {
        width: 100%;
        height: auto;
        padding: 5px;
    }
}

/*contact-form*/
.contact-container {
    background: #101517;
}

.contact-container .contact-inner-container {
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 30px;
}

.contact-container .contact-inner-container .map {
    width: 100%;
    height: auto;
}
.contact-container .contact-inner-container .map iframe{
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

.contact-container .contact-inner-container .form-container {
    width: 100%;
    background: white;
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 25px solid #A57A2C;
    /* border-image-source: linear-gradient(90deg, #A57A2C, #D4A94B, #FCEC94, #E4BE69, #FFD77D, #B6903F, #956E2B);
    border-image-slice: 1; */
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}

.contact-container .contact-inner-container .form-container .inner-form-container {
    /* position: relative;
    z-index: 2;
    left: -100px; */
    background: white;
    border-radius: 20px;
    padding: 30px;
    max-width: 100%;
    height: auto;
}

.contact-container .contact-inner-container .form-container .inner-form-container h2 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
}

.contact-container .contact-inner-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-container .contact-inner-container input,
textarea {
    width:100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-container .contact-inner-container button {
    background: linear-gradient(90deg, #A57A2C, #D4A94B, #FCEC94, #E4BE69, #FFD77D, #B6903F, #956E2B);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
}

/*********responsive**************/
/************extra-large screens************/
@media (min-width:1700px) and (max-width:2600px) {
    .contact-container .contact-inner-container .form-container .inner-form-container h2 {
        font-size: 30px;
    }

    .contact-container .contact-inner-container input,
    textarea {
        font-size: 18px;
    }
}

/***************larger screens*************/
@media screen and (max-width: 1400px) {
    .contact-container .contact-inner-container .form-container .inner-form-container h2 {
        font-size: 20px;
    }

    .contact-container .contact-inner-container input,
    textarea {
        font-size: 16px;
    }
}

/********tablets********/
@media screen and (max-width: 800px) {
    .contact-container .contact-inner-container .form-container .inner-form-container h2 {
        font-size: 20px;
    }

    .contact-container .contact-inner-container input,
    textarea {
        font-size: 14px;
    }
}

/***************mobile screens**********/
@media screen and (max-width: 600px) {
    .contact-container .contact-inner-container {
        flex-direction: column;
    }

    .contact-container .contact-inner-container {
        width: 100%;
    }

    .contact-container .contact-inner-container .map {
        width: 100%;
        height: auto;
    }

    .contact-container .contact-inner-container .form-container .inner-form-container {
        position: relative;
        z-index: 2;
        left: 0px;
        max-width: 100%;
        height: auto;
    }

    .contact-container .contact-inner-container .form-container {
        width: 100%;
        padding: 0px;
    }

    .contact-container .contact-inner-container .form-container .inner-form-container h2 {
        font-size: 20px;
    }

    .contact-container .contact-inner-container input,
    textarea {
        font-size: 14px;
    }
}
/****overidding global-styles of offer-banner***/
.offer {
    background-color:#101517;
}
.footer {
    background-color:#101517;
}