/*******ourStory-banner*********/
.subpage-foods {
    position: relative;
    width: 100%;
    height: 250px;
    background: url('/assests/images/foods-page/foods-banner.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subpage-foods::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.subpage-foods .main-text {
    position: relative;
    font-family: var(--std-font-family);
    background: linear-gradient(90deg, #A57A2C, #D4A94B, #FCEC94, #E4BE69, #FFD77D, #B6903F, #956E2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: auto;
    top: 50px;
}

/***responsive***/
/************extra-large screens************/
@media (min-width:1700px) and (max-width:2600px) {
    .subpage-foods .main-text {
        font-size: 70px;
    }
}

/***************larger screens*************/
@media screen and (max-width: 1400px) {
    .subpage-foods .main-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .subpage-foods .main-text {
        font-size: 30px !important;
    }
}

/***************mobile screens**********/
@media screen and (max-width: 600px) {
    .subpage-foods .main-text {
        font-size: 20px !important;
    }
}
/****overidding global-styles of offer-banner***/
.offer {
    background-color:#101517;
}
.footer {
    background-color:#101517;
}
.video-banner {
    background-color: #101517;
}
.images{
    background-color: #101517;
}
.images .menu-title-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.images .menu-title {
    font-size: 50px;
    color: #E4BE69;
    font-family: var(--std-font-family);
    width: 50%;
}

.images .menu-title::after {
    content: "";
    flex-grow: 1;
    width: 40%;
    height: 1px;
    display: inline-block;
    background: linear-gradient(90deg, #A57A2C, #D4A94B, #FCEC94, #E4BE69, #FFD77D, #B6903F, #956E2B);
    margin-left: 15px;
}

.images .menu-title-undertext {
    font-size: 30px;
    color: var(--secondary-color);
    font-family: var(--std-font-family);
}

.images .menu-title-undertext span {
    color: #E4BE69;
}

.images .menu-subtitle {
    color: var(--secondary-color);
    font-size: 18px;
    width: 50%;
}
